.container{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    background-color: teal;
   
}

body{
    background-color:sienna;
}
h2{
    font-size: 40px;
}
input{
    padding: 12px 50px;
    margin: 10px 0 0 0;
}